<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>

    <ngb-tabset>
      <ngb-tab title="Add Student" >
        <ng-template ngbTabContent>
            <!-- <router-outlet></router-outlet> -->
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Get Students">
        <ng-template ngbTabContent>
            <!-- <router-outlet></router-outlet> -->
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </nav>
  
</div>